@model IoTWeb.Models.EquipReservation

@{
    ViewBag.Title = "取消維修";
}
<style>
    .widthset {
        width: 90%;
        margin: auto
    }
</style>
<div class="widthset"> 
    <h2>取消維修</h2>

    <h3>您確定要取消維修嗎?</h3>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentDataTable.ResidentName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" name="取消維修" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
