@model IEnumerable<IoTWeb.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ProductImg {
        height: 300px;
    }
</style>

<h2 align="center">公共空間管理</h2>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            @Html.Partial("_ShowPhotoPartial", item)
            <div class="caption">
                <h3>場地名稱: @item.Location1</h3>
                <p>
                    @if (@item.是否出借 != null)
                    {
                        if ((bool)@item.是否出借)
                        {
                            @Html.ActionLink("借用場地", "Create", "PublicSpaces", new { id = item.LocationID}, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("維修中", "", "", null, new { @class = "btn btn-danger", onclick = "return alert('場地清潔維修中，暫停外借')" })
                        }

                        @Html.ActionLink("詳細資料", "Index", "PublicSpaces", new { id = item.Location1 }, new { @class = "btn btn-primary" })
                    }
                </p>
            </div>
        </div>
    </div>

}
