@model IoTWeb.Models.ManagementFee

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center">刪除</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentDataTable.ResidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete","ManagementFees",FormMethod.Post,new { @id="frmDelete"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" id="btnDelete"><i class="fa fa-trash-o"> 　刪除　</i></button>
            <a href="@Url.Action("Index","ManagementFees")" class="btn btn-success"><i class="fa fa-arrow-circle-left"></i> 回上一頁</a>
        </div>
    }

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">刪除中...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    確認是否刪除此筆資料？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="sub">刪除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
        <script>
            $(document).ready(function () {
                $("#sub").click(function () {
                    $("#frmDelete").submit();
                })
            })
        </script>
    }

