@model IoTWeb.Models.ManagementFee

@{
    ViewBag.Title = "Delete";
}

<h3>確定要刪除該筆管理費繳交紀錄嗎?</h3>
<div>
    <h4>@Model.Year 年 @Model.Month 月份管理費"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentDataTable.ResidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"> 　刪除　</i></button>
            <a href="@Url.Action("Index","ManagementFees")" class="btn btn-success"><i class="fa fa-arrow-circle-left"></i> 回上一頁</a>
        </div>
    }
</div>
