@model IoTWeb.Models.PublicSpace

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">刪除</h2>

<h3 align="center">確定要刪除嗎?></h3>
<div>
    <h4>公共空間</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.barrierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barrierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeNow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeNow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Location1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentDataTable.ResidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffDataTable.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffDataTable.StaffName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
