<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 立文大樓管理</title>
    @RenderSection("FontStyles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/admin")
    <link href="~/AdminStyle/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <!--Fontawesome v4.7-->
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!--左側導覽列-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Index","Admin",new { Area = "Admin" })">大樓管理後台系統</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="社區資訊管理系統">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#SocietyInfomations" data-parent="#exampleAccordion">
                        <i class="fa fa-tasks"></i>
                        <span class="nav-link-text">社區資訊管理系統</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="SocietyInfomations">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="庶務管理系統">
                            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#GeneralAffairs">
                                <i class="fa fa-file"></i>
                                <span class="nav-link-text">庶務管理系統</span>
                            </a>
                            <ul class="sidenav-third-level collapse" id="GeneralAffairs">
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","ResidentDataTables",new { Area="Admin" })">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="nav-link-text">住戶管理</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","Account",new { Area="Admin" })">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                        <span class="nav-link-text">住戶帳號清單</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","ManagementFees",new { Area="Admin" })">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                        <span class="nav-link-text">管理費</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","BulletinBoards",new { Area="Admin" })">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                        <span class="nav-link-text">佈告欄管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                            <a class="nav-link" href="@Url.Action("Index","Locations",new { Area="Admin" })">
                                <i class="fa fa-building"></i>
                                <span class="nav-link-text">公共空間管理系統</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#EquipmentList">
                                <i class="fa fa-lightbulb-o"></i>
                                <span class="nav-link-text">設備管理系統</span>
                            </a>
                            <ul class="sidenav-third-level collapse" id="EquipmentList">
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","Equipments",new { Area="Admin" })">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                        <span class="nav-link-text">設備管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","EquipReservations",new { Area="Admin" })">
                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                        <span class="nav-link-text">設備預約管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="@Url.Action("Index","EquipFixes",new { Area="Admin" })">
                                        <i class="fa fa-fw fa-wrench"></i>
                                        <span class="nav-link-text">設備維修管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="包裹管理系統">
                            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#packageTables">
                                <i class="fa fa-truck"></i>
                                <span class="nav-link-text">包裹管理系統</span>
                            </a>
                            <ul class="sidenav-third-level collapse" id="packageTables">
                                <li>
                                    <a href="@Url.Action("Index","PackageTables",new { Area = "Admin" })">
                                        <i class="fa fa-get-pocket" aria-hidden="true"></i>
                                        <span class="nav-link-text">收貨資訊</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","ReturnPackages",new { Area = "Admin" })">
                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                        <span class="nav-link-text">退貨資訊</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="停車管理系統">
                            <a class="nav-link" href="@Url.Action("Index","Parking",new { Area="Admin" })">
                                <i class="fa fa-car"></i>
                                <span class="nav-link-text">停車管理系統</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="環境資訊">
                    <a class="nav-link" href="@Url.Action("Index", "TandH", new { Area = "Admin"})">
                        <i class="fa fa-industry"></i>
                        <span class="nav-link-text">環境資訊</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="防災系統">
                    <a class="nav-link" href="@Url.Action("Index","IoTAlerts",new { Area = "Admin" })">
                        <i class="fa fa-bell-o"></i>
                        <span class="nav-link-text">防災系統</span>
                    </a>
                </li>
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="財務報表">
                        <a class="nav-link" href="tables.html">
                            <i class="fa fa-usd"></i>
                            <span class="nav-link-text">財務報表</span>
                        </a>
                    </li>*@
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="保全管理">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Staff" data-parent="#exampleAccordion">
                        <i class="fa fa-shield"></i>
                        <span class="nav-link-text">保全管理</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="Staff">
                        <li>
                            <a href="@Url.Action("Index","StaffDataTable",new { Area = "Admin" })">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <span class="nav-link-text">保全名單</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("StaffAccountCreate","Account",new { Area = "Admin" })">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <span class="nav-link-text">保全帳號建立</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--開合左側導覽列-->
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <!--上方導覽列-->
            <ul class="navbar-nav ml-auto"></ul>
            <div class="navbar navbar-expand-lg">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    @Html.Hidden("GetAlert", Url.Action("GetAlert", "Home", new { Area = "" }))

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
    <!-- SignalR -->
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script>
        $(function () {
            //Proxy created on the fly
            var iot2 = $.connection.ioTDataHub;

            //Declare a function on the hub so the server can invoke it
            iot2.client.displayIoTData = function () {
                getAlert();
            };
            //Start the connection
            $.connection.hub.start();
            getAlert();
        });
        var ddd = setInterval(SetTimeAlert, 3000);
        let Place;
        let Alert;
        let Type;
        let count = 0;

        function getAlert() {
            $.ajax({
                url: $("#GetAlert").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $.each(data.listData, function (i, model) {
                        Place = model.Place;
                        Alert = model.Alert;
                        Type = model.Type;
                    })
                }
            });
            SetTimeAlert();
        }
        function SetTimeAlert() {
            if (count < 3) {
                if (Place && Alert) {
                    alert(`位置 ${Place} 有類型 ${Type} 的警報`);
                }
                count++;
            }
        }
    </script>
</body>
</html>
