@{
    ViewBag.Title = "Home Page";
}
@section styles
{
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/fancybox/fancybox.css" rel="stylesheet">

    <!-- Main Stylesheet File-->
    <link href="~/css/style.css" rel="stylesheet">

    <link rel="prefetch" href="~/img/zoom.png">
}

<!-- === MAIN Background === -->
<div class="slide story" name="slide1" id="slide1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1 class="font-semibold">歡迎使用 <span class="font-thin">IoT大樓管理系統</span></h1>
                <h4 class="font-thin"><span class="font-semibold">常用功能</span></h4>
                <br>
                <br>
            </div>
            <!-- /col-12 -->
        </div>
        <!-- /row -->
        <div id="home-row-2" class="row clearfix">

            <div class="col-12 col-sm-4">
                <a href="#slide2" class="smoothscroll navigation-slide-a"><div class="home-hover navigation-slide"><img src="~/img/s02.png"></div><span>包裹查看Package</span></a>
            </div>

            <div class="col-12 col-sm-4">
                <a href="#slide4" class="smoothscroll navigation-slide-a"><div class="home-hover navigation-slide"><img src="~/img/s01.png"></div><span>留言板FriendlyMessage</span></a>
            </div>

            <div class="col-12 col-sm-4">
                <a href="#slide5" class="smoothscroll navigation-slide-a"><div class="home-hover navigation-slide"><img src="~/img/s03.png"></div><span>能源Enery</span></a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /slide1 -->
<!-- === Slide 2 === -->
<div class="slide story" name="slide2" id="slide2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">包裹清單<span class="font-semibold"></span><br></div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>

        <!-- /row -->
        <div class="row content-row">
            <!-- /col12 -->
            <div class="col-12 col-lg col-sm">
                <a href="@Url.Action("Index","PackageTables",new {Area="Client" },null)" class="navigation-slide-a">
                    <p><i class="fa fa-laptop"></i></p>
                    <h2 class="font-semibold">檢視</h2>
                    <h4 class="font-thin">點此檢視未領取的包裹</h4>
                </a>
            </div>
            <!-- /col12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /slide2 -->
<!-- === SLide 3 - Portfolio -->
@*<div class="slide story" name="portfolio" id="portfolio" data-slide="3">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p01-large.jpg"><img class="thumb" src="~/img/portfolio/p01-small.jpg" alt=""></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p02-large.jpg"><img class="thumb" src="~/img/portfolio/p02-small.jpg" alt=""></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p09-large.jpg"><img class="thumb" src="~/img/portfolio/p09-small.jpg" alt=""></a></div>
        <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p010-large.jpg"><img class="thumb" src="~/img/portfolio/p10-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p05-large.jpg"><img class="thumb" src="~/img/portfolio/p05-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p06-large.jpg"><img class="thumb" src="~/img/portfolio/p06-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p07-large.jpg"><img class="thumb" src="~/img/portfolio/p07-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p08-large.jpg"><img class="thumb" src="~/img/portfolio/p08-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p03-large.jpg"><img class="thumb" src="~/img/portfolio/p03-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p04-large.jpg"><img class="thumb" src="~/img/portfolio/p04-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p11-large.jpg"><img class="thumb" src="~/img/portfolio/p11-small.jpg" alt=""></a></div>
            <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="~/img/portfolio/p12-large.jpg"><img class="thumb" src="~/img/portfolio/p12-small.jpg" alt=""></a></div>
    </div>*@
    @*<!-- /row -->
</div>*@
<!-- /slide3 -->
<!-- === Slide 4 - Process === -->
<div class="slide story" name="slide4" id="slide4" data-slide="4">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin"><span class="font-semibold">公共空間</span></div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">提供場地借用,檢視公佈欄,留言等多項功能</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-3">
                <a href="@Url.Action("PublicSpace","BulletinBoards",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-bolt"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">場地預約</span></h2>
                    <h4 class="font-thin">此功能可以預約場地</h4>
                </a>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-sm-3">
                <a href="@Url.Action("Index","BulletinBoards",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-cog"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">公佈欄</span></h2>
                    <h4 class="font-thin">點此可以查看公佈欄</h4>
                </a>
            </div>

            <div class="col-12 col-sm-3">
                <a href="@Url.Action("Index","Equipments",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-cog"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">設備清單</span></h2>
                    <h4 class="font-thin">點此可以查看設備</h4>
                </a>
            </div>

            <div class="col-12 col-sm-3">
                <a href="@Url.Action("Index","EquipReservations",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-cog"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">設備借用</span></h2>
                    <h4 class="font-thin">點此可以借用設備</h4>
                </a>
            </div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /slide4 -->
<!-- === Slide 5 === -->
<div class="slide story" name="slide5" id="slide5" data-slide="5">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin"><span class="font-semibold">能源</span></div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">內有能源開關,和空調溫度設定</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-6">
                <a href="@Url.Action("temperature", "BulletinBoards",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-cloud"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">溫度設定</span></h2>
                    <h4 class="font-thin">空調的溫度設定</h4>
                </a>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-sm-6">
                <a href="@Url.Action("light", "BulletinBoards",new { Area="" })" class="navigation-slide-a">
                    <p><i class="fa fa-bolt"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">電源開關</span></h2>
                    <h4 class="font-thin">電燈電源開關</h4>
                </a>
            </div>

            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- === Slide 7 === -->
<div class="slide story" id="slide2" data-slide="2">
    <div class="container" name="slide7" id="slide7">
            <div class="row title-row">
                <div class="col-12 font-thin"><span class="font-semibold">財務</span></div>
            </div>
            <!-- /row -->
            <div class="row line-row">
                <div class="hr">&nbsp;</div>
            </div>
            <!-- /row -->
            <div class="row subtitle-row">
                <div class="col-sm-1 hidden-sm">&nbsp;</div>
                <div class="col-12 col-sm-10 font-light">可以查看大樓的財務報表</div>
                <div class="col-sm-1 hidden-sm">&nbsp;</div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-sm hidden-sm">&nbsp;</div>
                <div class="col-12 col-sm-6">
                    <a href="#" class="navigation-slide-a">
                        <p><i class="fa fa-bolt"></i></p>
                        <h2 class="font-thin"><br><span class="font-semibold">場地預約</span></h2>
                        <h4 class="font-thin">此功能可以預約場地</h4>
                    </a>
                </div>
                <!-- /col12 -->
                <div class="col-12 col-sm-6">
                    <a href="#" class="navigation-slide-a">
                        <p><i class="fa fa-cog"></i></p>
                        <h2 class="font-thin"><br><span class="font-semibold">公佈欄</span></h2>
                        <h4 class="font-thin">點此可以查看公佈欄</h4>
                    </a>
                </div>

                <div class="col-sm-1 hidden-sm">&nbsp;</div>
            </div>
            <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /slide2 -->
<!-- /slide5 -->
<!-- === Slide 6 / slide6 === -->
<div class="slide story" name="slide6" id="slide6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin"><span class="font-semibold">大樓管理人資料</span></div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">可以查看保全或工作人員的名單</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-6">
                <a href="#" class="navigation-slide-a">
                    <p><i class="fa fa-bolt"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">投訴保全</span></h2>
                    <h4 class="font-thin">此功能可以預約場地</h4>
                </a>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-sm-6">
                <a href="#" class="navigation-slide-a">
                    <p><i class="fa fa-cog"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">意見回饋</span></h2>
                    <h4 class="font-thin">點此可以查看公佈欄</h4>
                </a>
            </div>

            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
    </div>
    <!-- /container -->
</div>

<!-- === Slide 5 === -->
<div class="slide story" id="slide5" data-slide="5">
    <div class="container" id="slide8" name="slide8">
        <div class="row title-row">
            <div class="col-12 font-thin"><span class="font-semibold">修繕</span></div>
        </div>
        <!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">可以報修公共設備</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-6">
                <a href="#" class="navigation-slide-a">
                    <p><i class="fa fa-bolt"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">滅火器報修</span></h2>
                    <h4 class="font-thin">進行滅火器的報修</h4>
                </a>
            </div>
            <!-- /col12 -->
            <div class="col-12 col-sm-6">
                <a href="#" class="navigation-slide-a">
                    <p><i class="fa fa-cog"></i></p>
                    <h2 class="font-thin"><br><span class="font-semibold">一般報修</span></h2>
                    <h4 class="font-thin">一般報修</h4>
                </a>
            </div>

            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
    </div>
    <!-- /container -->
</div>

<div id="copyrights">
    <div class="container">
        <p>
            &copy; Copyrights <strong>MSIT</strong>. All Rights Reserved
        </p>
        <div class="credits">
            <!--
              You are NOT allowed to delete the credit link to TemplateMag with free version.
              You can delete the credit link only if you bought the pro version.
              Buy the pro version with working PHP/AJAX slide6 form: https://templatemag.com/munter-bootstrap-one-page-template/
              Licensing information: https://templatemag.com/license/
            -->
            Created with MSIT template by <a href="https://www.google.com/">GOOGLE</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/php-mail-form/validate.js"></script>
    <script src="~/lib/fancybox/fancybox.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>
}