@model IEnumerable<IoTWeb.Models.Equipment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buydate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipmentID })
        </td>
    </tr>
}

</table>
