@model IEnumerable<IoTWeb.Models.Equipment>

@{
    ViewBag.Title = "設備";
}

@using (Html.BeginForm())
{
    <p>
        地方：@Html.DropDownList("Plist", "全部")
        搜尋；@Html.TextBox("Findeq")
        <input type="submit" value="查詢" />
    </p>
}
<div class="linkwhere">
    <h2>設備</h2>
    @*Todo 查詢住戶自身的預約跟報修*@

    @*<a href="@Url.Action("Index","EquipFixes",new { })" class="btn btn-primary">查看自己的報修清單</a>*@
</div>

<table class="table" id="table1">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>       
      
        <th>
            @Html.DisplayNameFor(model => model.Buydate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>           
            @Html.Partial("_ShowEqPhotoPartial", item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        
        <td>
            <a href="@Url.Action("Create","EquipReservations",new {id = item.EquipmentID })" class="btn btn-primary">預約設備</a>
            <a href="@Url.Action("Details","Equipments",new {id = item.EquipmentID })" class="btn btn-info">詳細資料</a>
            <a href="@Url.Action("Create","EquipFixes",new {id = item.EquipmentID })" class="btn btn-danger">報修</a>
        </td>
    </tr>
    }
</table>
