@model IEnumerable<IoTWeb.Models.PackageTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2><span class="badge badge-secondary">包裹收件系統</span></h2>
<a href="@Url.Action("Create","PackageTables",new { } )" class="btn btn-success"><i class="fa fa-plus"></i>新增收件</a>


<table class="table" id="PackageTables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PackageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageArrivalDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ReceiverID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageCompany.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffDataTable.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sign)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageArrivalDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReceiverID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ResidentDataTable.ResidentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageCompany.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffDataTable.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sign)
                </td>
                <td>


                    <a href="@Url.Action("Edit","PackageTables",new {id = item.PackageID  } )" class="btn btn-info"><i class="fa fa-pencil-square-o"></i>修改</a>||
                    <a href="@Url.Action("Delete","PackageTables",new {id = item.PackageID  } )" class="btn btn-danger"><i class="fa fa-times"></i>刪除</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $("#ReturnArrivalDate").datepicker();
        });

        $(document).ready(function () {
            $('#PackageTables').DataTable();
        });
    </script>
}