@model IoTWeb.Models.ResidentDataTable

@{
    /**/

    Layout = null;
    Model.Living = true;
}

@using (Html.BeginForm("AddOrEdit", "ResidentDataTables", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ResidentID)
    <div class="form-group">
        @Html.LabelFor(model => model.ResidentName, new { @class = "control-label" })
        @Html.EditorFor(model => model.ResidentName, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Name)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ResidentPhone, new { @class = "control-label" })
        @Html.EditorFor(model => model.ResidentPhone, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Position)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ResidentIDNumber, new { @class = "control-label" })
        @Html.EditorFor(model => model.ResidentIDNumber, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CommunityAddress, new { @class = "control-label" })
        @Html.EditorFor(model => model.CommunityAddress, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        @Html.LabelFor(model => model.Living, new { @class = "control-label" })
        @Html.CheckBoxFor(model => model.Living, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.HiddenFor(model => model.img)
    <div class="form-group">
        <input type="submit" value="送出" class="btn btn-primary" />
        <input type="reset" value="重設" class="btn" />
        <button type="button" class="btn btn-info" id="Demo" name="Demo">Demo</button>
    </div>
}
<script>
    $('#Demo').click(function () {
        $('#ResidentName').val('小柯');
        $('#ResidentPhone').val('0975842378');
        $('#ResidentIDNumber').val('F129427258');
        $('#CommunityAddress').val('85F-A');
    });
</script>