@model IEnumerable<IoTWeb.Models.ResidentASPUsers>

@{
    ViewBag.Title = "住戶帳號管理";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>住戶帳號檢視</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@

</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResidentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunityAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResidentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommunityAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}