@model IoTWeb.Models.EquipFix

@{
    ViewBag.Title = "詳細維修資料";
}



<div class="widthset">
    <h2>詳細維修資料</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.EquipmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repaired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repaired)
        </dd>



    </dl>
    <p>
       
        @Html.ActionLink("返回", "Index")
    </p>
</div>

