@model IEnumerable<IoTWeb.Models.EquipFix>

@{
    ViewBag.Title = "維修資料";
}
<style>
    .table {
        width: 70%;
        margin: auto
    }
    .linkwhere {
        text-align: left;
        margin: auto;
        width: 70%
    }
</style>
<div class="linkwhere">
    <h2>維修詳細</h2>
</div>
<table class="table">
    <tr>
        <th width="5%"></th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.RepairedDate)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
        </th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Repaired)
        </th>
        <th width="35%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repaired)
        </td>
        <td>
            @Html.ActionLink("修改內容", "Edit", new { id = item.EquipmentFixID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("詳細資料", "Details", new { id = item.EquipmentFixID }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("刪除", "Delete", new { id = item.EquipmentFixID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
