@model IEnumerable<IoTWeb.Models.EquipReservation>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lessee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentDataTable.ResidentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipReservationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipReservationID })
        </td>
    </tr>
}

</table>
<div>
    <h2>@ViewBag.aa</h2>
</div>
