@model IEnumerable<IoTWeb.Models.EquipReservation>
@{
    ViewBag.Title = "審核通過清單";
}

<p>
    @Html.ActionLink("歷史紀錄", "Indexhistory", null, null, new { @class = "btn btn-info" })
    @Html.ActionLink("返回審核未通過預約清單", "Index", null, null, new { @class = "btn btn-info" })
</p>
<h2 style="text-align:center"><b>審核通過清單</b></h2>
<table class="table table-striped table-bordered" id="tableEQ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate, "MyDate")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentTime)
            </td>
            <td>
                @Html.ActionLink("取消申請", "Delete", new { id = item.EquipReservationID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript" src="~/AdminStyle/vendor/datatables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="~/AdminStyle/vendor/datatables/dataTables.bootstrap4.js"></script>    
    <script>
        $(document).ready(function () {
            $('#tableEQ').dataTable({
                language: {
                    url: "@Url.Content("~/Scripts/Chinese-traditional.json")"
                },
                searching: false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "全部"]],
            });
        });
    </script>
}
