@model IoTWeb.Models.Location

@{
    ViewBag.Title = "新增場地";
}

@section styles{
    <link href="@Url.Content("~/src/sweetalert.css")" rel="stylesheet" />
}

<h2 align="center">新增場地</h2>



@using (Html.BeginForm("Create", "Locations", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.是否出借, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.是否出借)
                    @Html.ValidationMessageFor(model => model.是否出借, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <img id="imgPreview" src="@Url.Content("~/Image/no-image.png")" style="width:320px;height:240px" />
            @*<input type="file" name="File1" id="File1" accept="Image/*" />*@
            @Html.TextBox("File1", null, new { @type = "File", @accept = "Image/*" })
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    確認
                </button>
                <button hidden="hidden" id="error1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ErrorModal">123</button>
                @*<button type="submit" class="btn btn-outline-default"><i class="fa fa-check"></i> 確認</button>*@
            </div>
        </div>
    </div>

    <!-- SucessModal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">  新增場地</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    是否要送出?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-outline-default"><i class="fa fa-check"></i> 確認送出</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ErrorModal -->
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="ErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ErrorModalLabel">  錯誤!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    錯誤!!請填寫正確場地信息!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> 確認</button>
                    @*<button type="submit" class="btn btn-outline-default"><i class="fa fa-check"></i> 確認送出</button>*@
                </div>
            </div>
        </div>
    </div>
}
<div>
    @*@Html.ActionLink("返回首頁", "Index", null, new { @class = "btn btn-outline-primary" })*@
    <a href="@Url.Action("Index","Locations")" class="btn btn-info btn">
        <i class="fa fa-home"></i>回到首頁
    </a>
</div>

<div>
    <button class="btn btn-success" id="demo">Demo</button>
</div>



@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#File1").change(function () {
            readURL(this);
        });

    </script>
    <script>
        $("#demo").click(function () {
            $("#LocationID").val("L8")
            $("#Location1").val("中庭花園")
        });
    </script>
}
