@model IoTWeb.Models.ReturnPackage

@{
    ViewBag.Title = "Details";
}

<div style="text-align:center">
    <h1><span class="badge badge-primary">退貨詳細</span></h1>
</div>
<div class="container">
    <div class="row">        

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ReturnArrivalDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReturnArrivalDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Returnee)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Returnee)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PackageCompany.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PackageCompany.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StaffID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StaffID)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Sign)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sign)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("上一頁", "Index", null, new { @class = "btn btn-success" })
            </p>
        </div>
    </div>
</div>

