@model IEnumerable<IoTWeb.Models.ReturnPackage>

@{
    ViewBag.Title = "檢視退貨";
}
@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>未收走退貨包裹</h2>
            <table id="DataTable" class="table display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReturnDataID)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.ReturnArrivalDate)
                        </th>*@
                        
                        <th>
                            @Html.DisplayNameFor(model => model.PackageCompany.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Returnee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResidentDataTable.ResidentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sign)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDataID)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ReturnArrivalDate)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.PackageCompany.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Returnee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResidentDataTable.ResidentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sign)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ReturnDataID }, new { @class = "btn btn-info" })
                    </td>
                </tr>
                }

            </table>
        </div>
    <div>

    </div>
    </div>


@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
                    $("#DataTable").DataTable({
                        searching: false, //關閉filter功能
                        columnDefs: [{
                            targets: [3],
                            orderable: false,
                        }]
                    });
    </script>
}